* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ol,
ul,
li,
a,
button,
input,
select,
option {
	list-style: none;
	text-decoration: none;
	transform: none;
	color: #000;
	background: none;
	outline: none;
	border: none;
	font-weight: normal;
}

:root {
	--clr-1: #3d087bde;
	--clr-2: #ffffff;
	--clr-3: #ededed;
	--clr-4: #f6e2ff;
	--clr-5: #8a11bf;
	--clr-6: #5f0089;
	--clr-7: #3d087bde;
	--clr-8: #9140b5;
	--clr-9: #c2c2c2;
	--clr-10: #8e53f0;
	--clr-11: #b85ebf;
	--clr-12: #f25cfe;
	--clr-13: #00000029;
	--clr-14: #858585;
	--clr-15: #6e54ec;
	--clr-16: #cb52f8;
	--clr-17: #fc5eff;
	--clr-18: #f1a7c5;
}

body {
	width: 90%;
	height: 97vh;
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	gap: 10px;
	margin: 0.5rem auto;
	font-family: Manrope, san-serif;
	background-color: var(--clr-1);
	color: #ffffff;
	/* border: 1px solid #fff; */
}

.left-section {
	width: 50%;
	/* border: 1px solid #fff; */
}
.right-section {
	width: 50%;
	/* border: 1px solid #fff; */
}
/* =========================================================== */
/* left side all  */
.schedule {
	margin-top: 0.2rem;
	width: 100%;
	height: 250px;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 15px;
	color: #3d087b;
	font-family: Manrope, san-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.schedule .period {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.schedule .form-input {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Manrope, san-serif;
}
.schedule .form-input h2 {
	font-family: Manrope, san-serif;
	font-weight: normal;
	font-size: 16px;
	/* margin: 0 30px 0 10px; */
	margin-left: 15px;
}
.schedule .form-input select {
	width: 50%;
	border: 1px solid #ededed;
	padding: 8px;
	justify-self: end;
}
.form-input select option {
	padding: 5px 10px;
}
#greeting {
	margin-top: 0.7rem;
	background-color: var(--clr-5);
	height: 100px;
	/* text-align: center; */
	padding: 8px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Bauhaus Hv BT;
	font-family: "Paytone One", sans-serif;
	font-size: 20px;
	line-height: 30px;
	font-weight: 900;
	border-radius: 10px;
}
.action {
	margin-top: 1rem;
	display: flex;
	justify-content: space-around;
	/* align-items: center; */
}

.btn {
	/* flex: 1fr; */
	width: 220px;
	height: 40px;
	background: transparent
		linear-gradient(
			113deg,
			#6e54ec 0%,
			#cb52f8 40%,
			#fc5eff 81%,
			#f1a7c5 100%
		);
	color: #ffffff;
	font-size: 15px;
	padding: 5px 20px;
}
.alarm:hover:before {
	content: "Party Time";
	font-size: 15px;
}
.btn:hover {
	background: linear-gradient(
		280deg,
		#6e54ec 0%,
		#cb52f8 40%,
		#fc5eff 81%,
		#f1a7c5 100%
	);
	font-size: 0;
}
.time-table {
	width: 220px;
	padding: 10px;
	/* background: var(--clr-2); */
	/* background: var(--clr-16); */
	background: var(--clr-5);
	border-radius: 8px;
	/* border: 1px solid #ededed; */
	border-radius: 10px;
}
.time-table small {
	color: var(--clr-12);
	color: var(--clr-2);
	color: var(--clr-17);
	margin: 3px 0;
	padding: 10px;
	font-family: "Inter", sans-serif;
	font-size: 13px;
	line-height: 1em;
}
/* =========================================================== */
/* right side all  */
.display-time {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 120px;
	background-color: #ffffff;
	font-family: "Inter", sans-serif;
	color: #3d087b;
	font-weight: normal;
	padding: 10px;
	border-radius: 10px;
	/* border: 1px solid #fff; */
}
.actual-time {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-left: 20px;
	margin-right: 12px;
	font-family: "Inter", sans-serif;
}
.actual-time > div {
	font-family: "Inter", sans-serif;
	position: relative;
	margin: 0 3px;
}
.am-pm {
	position: relative;
	/* margin: 0 3px; */
}
.text {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* .actual-time p {
	color: #3d087b;
	font-weight: 500;
} */
.actual-time img,
.display-time img {
	width: 60px;
	height: 70px;
	object-fit: cover;
	object-position: center;
}
#am-pm {
	font-weight: normal;
	color: #ffffff;
}
.queto {
	margin-top: 1.5rem;
	background-color: #ffffff;
	height: 100px;
	/* text-align: center; */
	padding: 10px;
	color: #8e53f0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Inter", sans-serif;
	line-height: 0.7em;
	font-size: 22px;
	font-weight: 900;
	border-radius: 10px;
}
#wallpaper {
	margin-top: 1rem;
	height: 320px;
	aspect-ratio: 1.7/1;
	max-width: 100%;
	border-radius: 10px;
	background-image: url("assets/Group_5183-1.svg");
	/* background-position: -60px -100px; */
	/* background-position: center; */
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
	/* object-fit: cover; */
	border-radius: 10px;
	background-color: #ffffff;
}
/* .wallpaper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: -10% -10;
} */
